*{
    margin: 0;
    font-family:'Work Sans';
}
.hero-btn{
    color: white;
    background-color: #FD6E0A;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    margin-left: 420px;
}
/* hero-section */
.header{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    align-items: center;
}
.Bannar-side-section{
    float: right;
    max-width: 550px;
    margin: 200px 150px 100px 50px;
    width: 1150px;
    /* text-align: right; */
}
.hero-title{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: right;
}
.hero-sub-title{
    font-size: 18px;
    font-weight: 500px;
    margin-bottom: 10px;
    text-align: right;
    line-height: 1.3em;
}
/* about us section */
.about-section{
    max-width: 1050px;
    height: 750px;
    display: flex;
    margin: 100px auto;
}
.about-image{
    height: 720px;
    padding-right: 100px;
}
.about-us{

    vertical-align: middle;
    padding-top: 150px;
}
.about-title{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bold;
}
.about-sub-title{
    font-size: 18px;
    font-weight: 600px;
    margin-bottom: 15px;
    line-height: 1.3em;
}
.bullet{
    font-size: 18px;
    font-weight: 600px;
    margin-bottom: 5px;
}
/* my plan section */
.my-plan{
    max-width: 1150px;
    margin: 100px auto;
}
.my-plan-title{
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
}
.plan-items{
    display: flex;
    justify-content: space-around;
}
.plan-item{
    align-items: center;
    text-align: center;
}
.item-image{
    margin-bottom: 10px;
    height: 70px;
    width: 70px;
}
.item-title{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.item-sub-title{
    font-size: 18px;
    font-weight: 500px;
}
/* call to action section */
.call-to-action-section{
    max-width: 1000px;
    height: 200px;
    margin: 100px auto;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    background-size: cover;
    border-radius: 10px;
    padding: 60px;
}
.call-to-action{
    vertical-align: middle;
    padding-top: 40px;
}
.call-to-action-title{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}
.call-to-action-button{
    color: #FD6E0A;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 5px;
    border: 0;
}
/* blog section */
.blog{
    /* max-width: 1150Px; */

}
.blog-heading{
    font-size:40px;
    font-weight: 800px;
    text-align: center;
    margin-bottom: 20px;
}
.blog-sub-heading{
    font-size:20px;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 50px;
}
.my-blogs{
    max-width: 1150Px;
    display: flex;
    margin:0 auto;
    gap: 30px;
    /* box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.206) ; */
}  
.my-blog{
    width: 265px;
    background-color: rgba(226, 226, 226, 0.405);
    border-radius: 10px;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.206) ;

}
.blog-image{
    width: 265px;
    height: 180px;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;

}
.blog-title{
    font-size: 20px;
    font-weight: 700;
    padding: 5px 15px 10px 15px;

}
.blog-summary{
    font-size: 16px;
    font-weight: 400;
    padding: 5px 15px 10px 15px;

}
.read-blog{
    color: #FD6E0A;
    background-color: #ffffff00;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 20px;

}
/* footer section */
footer{
    margin-top: 100px;
    padding: 100px;
    background-color: #151414;
}
.footer-section{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}
.footer-about{
    max-width: 500px;
}
.footer-title{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffffff;
}
.footer-sub-title{
    font-size: 16px;
    /* font-weight: 400px; */
    color: #ffffff;
    margin-bottom: 20px;
}
.contact-email , .phone{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
}
.facebook, .twitter, .youtube{
    padding-right: 10px;
    height: 30px;
    width: 30px;
    
}
.footer-subscribe{
   
}
.subscribe-title{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffffff;
}
.email{
    display: block;
    background-color: #ffffff00;
    border: 1px solid white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 200px;

}
.sbus-button{
    background-color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 18px;
    font-weight: 500px;
}